<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header">
    <title>Hello</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div class="container">
    <div th:replace="fragments/AfterLogin :: bodyHeader" />
    <div class="jumbotron">
        <h1>Demo-Studio</h1>
        <p class="lead">아래의 서비스중 원하시는 서비스를 클릭하여 이용해주세요</p>
        <a class="btn btn-lg btn-secondary" href="/view">view</a><br><br>
        <a class="btn btn-lg btn-secondary" href="/reserv">Reservation</a><br><br>
        <a class="btn btn-lg btn-secondary" href="/dateList">DateList</a><br><br>
        <a href="/members/description" class="text-muted">Site Description and Introduction</a>
        </p>
    </div>
    <div th:replace="fragments/footer :: footer" />
</div> <!-- /container -->
</body>
</html>
